body {
  background-color: rgb(18, 160, 160);

  color: white;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 2px;
}

.profile-picture {
  display: block;
  margin-left: auto;
  margin-right: auto;

  margin-top: 5%;
  height: auto;
  max-width: 100px;

  border-radius: 50%;
}

.profile-name {
  text-align: center;
  font-family: 'Poppins';
  padding: 30px;
  font-size: 40px;
}
.profile-desc {
  text-align: center;
  font-family: 'Poppins';
  padding: 5px;
  font-size: 20px;
}

.links {
  text-align: center;
  margin-top: 12px;
  border: 1px solid rgb(14, 13, 13);
  border-width: 2px;
  padding: 10px;
  background-color:rgb(15, 129, 129);
  width: 290px;
  display: block;
  margin-left: auto;
  margin-right: auto;

  border-radius: 40px;
  font-family: 'Poppins';
  font-size: 18px;
}

a {
  text-decoration: none;

  color: rgb(7, 7, 165);
  transition: color 1s;
}

a:hover {
  color: black;
  background-color: white;
}
.pie-picture {
  display: block;
  margin-left: auto;
  margin-right: auto;

  margin-top: 2%;
  height: auto;
  max-width: 100px;


}